   #inputChild2{
     margin-left:60%;
     margin-top: 100px;
     width:30%;
     height: 80%;
     background-color: #ddbf16;
     border: 1px solid black;
 }


 
input{  
margin-left:  20%;
margin-top: 10%;
}  