<!--
 
<table border="1">
  <th>product Name </th> <th>product Id </th> <th>Price in nis </th> 
  <tr *ngFor="let Item of prod">
    <td>{{Item.prodName}}   </td> <td>{{Item.prodId}}   </td> <td>{{Item.prodPrice}}   </td>
  </tr>
</table>
 

<ul>
  <li *ngFor="let Item of prod">{{Item.prodName}}
    <ul> Id  {{Item.prodId}} </ul>
    <ul> Price  {{Item.prodPrice}} Nis </ul>
  </li>
  </ul>  -->

  
<table border="1">
  <th>Car Name </th> <th>Car Id </th> <th>Car's Price in nis </th> <th>Engine volume</th>
  <th>Year of Manifecture</th> <th> Totalhorse power</th>
  <tr *ngFor="let Item of newCar">
    <td>{{Item.prodName}}   </td> <td>{{Item.prodId}}   </td> <td>{{Item.prodPrice}}   </td>
    <td>{{Item.engineVolume}}   </td> <td>{{Item.yearOfManifecture}}   </td> <td>{{Item.horsePower}}   </td>

  </tr>
</table>